<!DOCTYPE html>
<html>
  <head>
    <title>Midas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("Midas","/")%>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Midasとは","/about")%>
        </li>
        <li>
          <%= link_to("投稿一覧","/posts/index") %>
        </li>
        <li>
          <%= link_to("お気に入り一覧","/posts/favorite") %>
        </li>
        <li>
          <%= link_to 'サインアップ', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'ログイン', new_user_session_path %>
        </li>
        <li>
          <%= link_to("新規投稿", "/posts/new") %>
        </li>
        <li>
          <%= link_to 'プロフィール変更', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
      <nav>
        <% if user_signed_in? %>
        <strong><%= link_to current_user.username, pages_show_path %></strong>
        <% else %>
        <% end %>
      </nav>
    </header>
    <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <%= yield %>
  </body>
  </html>
